@charset "UTF-8";

*{

    margin: 0;
    padding: 0;
    
}



.cmenu{

    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: right;
    position: fixed;
    background-color: #604829;
    top: 0px;
    box-sizing: border-box;
    
 
   
}




menu a {

    text-decoration: none;
    color:#C4A47C ;
    font-size: 14px;
    font-weight: bolder;
    padding-right: 15px;
    text-shadow: 6px 4px 3px rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    line-height:25px;
           
}



#logo-top{
    position: absolute;
    width: 70px;
    display: inline-block;
    left: 12vw;
    top: -4px;
    
   
   
}

menu{

    padding-right: 8vw;
    padding-left:140px;
    box-sizing: border-box;
    
    
    
   
    
}
