@charset "UTF-8";

*{

    margin: 0;
    padding: 0;
    
}

#logo-top{

width: 90px;
position: absolute;
left: 15vw;
top: -5px;


}

.cmenu{

    width: 100%;
    background-color:#604829 ;
    position: fixed;
    height: 80px;
}

menu{
    
    position: absolute;
    bottom: 24px;
    right:15vw;
    
}

menu a {
    
    padding-left: 10px;
    text-decoration:none;
    color: #c4a47c;
    text-shadow: 5px 4px 3px rgba(0, 0, 0, 0.74);
}


main{

    height: 1900px;
}






/* media query */


@media (max-width:570px){

    menu a {
        text-align: center;
        display: block;
        padding:5px;
        
    } 

    menu{

        top: 8px;
        right: 120px;
        
        
    }

    .cmenu{

        height: 100px;
    }

    #logo-top{

       top: 8px;
    }

}

@media (max-width:460px){

    menu a {

        text-align: center;
        display: block;
        padding:3px;
        padding-top: 8px;
        
        

    }

    menu{

        top: 15px;
        
    }

    .cmenu{
        height: 120px;
        
        
    }

    

}



@media (max-width:390px){

    #logo-top{

        display:none;
    }

    menu{
        left:100px;
        text-align: center;
        font-size: 14px;
    }

    menu a {
        
        padding-top: 15px;
    }

    .cmenu{
        height: 150px;
        
        
    }

}

@media (max-width:340px){

    menu{
        
        
        top: 12px;
        left: 0px;
        width: 100%;
        
        margin-right: 20px;

    
    }

    .cmenu{
        
        
    }

  
   

}







